<div class="dock-container">
  <div class="dock-glass">
    <div class="dock-items">
      <div 
        class="dock-item" 
        *ngFor="let app of apps; let i = index" 
        (click)="open(app)"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave()"
        [class.active]="app.isOpen"
        [style.transform]="'scale(' + getScale(i) + ')'">
        <div class="icon-wrapper">
          <img [src]="app.icon" [alt]="app.name" />
        </div>
        <div class="dot" *ngIf="app.isOpen"></div>
        <div class="tooltip">{{ app.name }}</div>
      </div>
    </div>
  </div>
</div>
