<div class="top-bar glass">
  <div class="left-items">
    <div class="item logo">
      <i nz-icon nzType="apple" nzTheme="fill"></i>
    </div>
    <div class="item active">WZOS</div>
    <div class="item">File</div>
    <div class="item">Edit</div>
    <div class="item">View</div>
    <div class="item">Go</div>
    <div class="item">Window</div>
    <div class="item">Help</div>
  </div>
  <div class="right-items">
    <div class="item">
      <i nz-icon nzType="wifi" nzTheme="outline"></i>
    </div>
    <div class="item">
      <i nz-icon nzType="search" nzTheme="outline"></i>
    </div>
    <div class="item">
      <i nz-icon nzType="control" nzTheme="outline"></i>
    </div>
    <div class="item time">{{ currentTime | date:'EEE MMM d HH:mm' }}</div>
  </div>
</div>
